

body{
    background-image: url('covid.jpg');
    margin:0px;

    
}
#mydiv{
    height:150px;
    width:100vw;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    justify-content: space-evenly;
}
#country{
    
    
    padding: 10px;
    font-family: calibri;
    font-size: 15px;
}
#start
{
   
    padding: 10px;
    font-family: calibri;
    font-size: 15px;
}
#end
{
   
    padding: 10px;
    font-family: calibri;
    font-size: 15px;
}
#submit
{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    font-family: calibri;
    background:yellow;
    color:black;
}
#ldiv{
    height:400px;
    width:100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-evenly;
}
#res{
    
   
    padding: 20px;
    height: 150px;
    
    align-items:center;
    width:350px;
    background:yellow;
    color:black;
    font-family: calibri;
    
}